scratch.py
venv
archive
Etabs_example.py
config.json
__pycache__
tkinter_example.py
test_models
build
dist
ETABS_RAM_bridge.exe.spec
readme_imgs
.DS_store
*.pyc
ETABS_exploration
run_exe.bat
ETABS_to_RAM_app.spec
